[*.cs]

# CA2000: Supprimer les objets avant la mise hors de portée
dotnet_diagnostic.CA2000.severity = silent

# CA1303: Ne pas passer de littéraux en paramètres localisés
dotnet_diagnostic.CA1303.severity = silent

# CA3075: Traitement DTD non sécurisé dans le code XML
dotnet_diagnostic.CA3075.severity = silent

# CA5366: Utiliser XmlReader pour la lecture des données XML d'un jeu de données
dotnet_diagnostic.CA5366.severity = silent

# CA1031: Ne pas intercepter les types d'exception générale
dotnet_diagnostic.CA1031.severity = silent
